{% extends 'base.html.twig' %}

{% block title %}Blanc de blanc - Arts Musants{% endblock %}

{% block body %}
<div class="container">
    <div class="text-center mt-4"></div>
    <div class="row">
        <div class="col-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque alias totam molestias distinctio repellat error voluptatum rerum, id repudiandae dolorem itaque, facilis eos cumque repellendus ipsum labore ex suscipit sed.</div>
        <div class="col-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptas nam ipsam quos nobis fugit facere atque voluptatibus reiciendis quam, accusantium repellat consectetur omnis labore ut impedit vero eius itaque!</div>
        <div class="col-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptas nam ipsam quos nobis fugit facere atque voluptatibus reiciendis quam, accusantium repellat consectetur omnis labore ut impedit vero eius itaque!</div>
    </div>
</div>

{% endblock %}
